<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="app" stopProcessing="true">
          <match url="iisnode.+" negate="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="node.exe"
      promoteServerVars="HTTPS,HTTP_X_FORWARDED_FOR,HTTP_X_ARR_LOG_ID"
      loggingEnabled="true"
      debuggingEnabled="true"
      devErrorsEnabled="true"
    />
  </system.webServer>
</configuration>
