<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      nodeProcessCommandLine="node"
      loggingEnabled="true"
      logDirectory="iisnode"
      promoteServerVars="HTTPS,HTTP_HOST,HTTP_X_FORWARDED_FOR,HTTP_X_ARR_SSL,WEBSITE_SITE_NAME,WEBSITE_HOSTNAME,WEBSITE_SLOT_NAME,WEBSITE_INSTANCE_ID,WEBSITE_OWNER_NAME,WEBSITE_RESOURCE_GROUP,WEBSITE_SKU,PORT"
    />
  </system.webServer>
</configuration>
