<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="process.json" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <action type="Rewrite" url="process.json" />
        </rule>
      </rules>
    </rewrite>
    <iisnode nodeProcessCommandLine="node" promoteServerVars="WEBSITE_SITE_NAME,WEBSITE_HOSTNAME" />
  </system.webServer>
</configuration>
